body {
  background: goldenrod;
}

main {
  padding: 8px;
}

img {
  width: 350px;
  height: 350px;
  border: solid 4px black;
  border-radius: 15px;
}

h3 {
  text-decoration: underline;
}

.horns {
  display: flex;
  flex-wrap: wrap;
}

.horns li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 400px;
  height: 550px;
  border: 3px solid black;
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
  background-color: rgb(51, 141, 51);
}

p {
  font-weight: bold;
}

header {
  display: flex;
  justify-content: center;
}

.allheaders {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.horn-filter, .numOfHorns-filter, .nameofanimal-filter {
  color: rgb(8, 95, 8);
  font-size: 25px;
  font-weight: bold;
  background: rgb(232, 241, 248);
}